{% extends 'core/base.html' %}

{% block head_title %}Ahorrante{% endblock %}



{% block content %}
    <h1 class="font-mono font-bold text-3xl text-center pb-5 pt-10">Ahorrante</h1>
    <hr />

        <div class="mb-4">
            <label class="block text-gray-700 text-sm" for="amount">
                <b>Cliente</b>: {{Cliente}}
            </label>
            <label class="block text-gray-700 text-sm" for="amount">
               <b> Identidad</b>: {{ Identidad }}
            </label>
            <label class="block text-gray-700 text-sm" for="amount">
                <b>Beneficiarios</b>: {{ Beneficiarios }}
            </label>

            <label class="block text-gray-700 text-sm" for="amount">
                <b>Observaciones</b>: {{ Observaciones }}
            </label>

        </div>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <form method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}

        <div class="mb-4">
             <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">
                Cantidad
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border rounded-md border-gray-500 focus:outline-none focus:shadow-outline" name="Cantidad" id="Cantidad"  required placeholder="Cantidad ">
            <select name="Accion" id="Accion">
                 <option value="Depositar">Depositar</option>
                 <option value="Retirar">Retirar</option>
            </select>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">
                Num_Recibo
            </label>
             <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border rounded-md border-gray-500 focus:outline-none focus:shadow-outline" name="Num_Recibo" id="Num_Recibo"  required placeholder="Num_Recibo ">
            </select>
        </div>

        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Ejecutar
        </button>
    </form>
         <a href="{% url 'ahorros:imprimir' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Imprimir
         </a>

    <table class="table-auto mx-auto w-full mt-8">
        <thead class="bg-gray-800 text-white">
        <tr class="uppercase font-semibold text-sm">
            <th class="px-4 py-2">Fecha</th>
            <th class="px-4 py-2">Núm. Recibo</th>
            <th class="px-4 py-2">Deposito</th>
            <th class="px-4 py-2">Interes</th>
            <th class="px-4 py-2">Retiro</th>
            <th class="px-4 py-2">Saldo</th>

        </tr>
        </thead>
        <tbody>
        {% for transaction in object_list %}
        <tr class="{% cycle 'bg-gray-300' 'bg-white-100' %}">
            <td class="border px-4 py-2 text-center">{{ transaction.Fecha }}</td>
            <td class="border px-4 py-2 text-center">{{ transaction.Num_Recibo }}</td>
            <td class="border px-4 py-2 text-center">L {{ transaction.Deposito }}</td>
            <td class="border px-4 py-2 text-center">L {{ transaction.Intereses }}</td>
            <td class="border px-4 py-2 text-center">L {{ transaction.Retiro }}</td>
            <td class="border px-4 py-2 text-center">L {{ transaction.Saldo }}</td>

        </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}


