{% extends 'core/base.html' %}

{% block head_title %}Inventario{% endblock %}



{% block content %}
    <h1 class="font-mono font-bold text-3xl text-center pb-5 pt-10">Inventario</h1>
    <hr />

        <form method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
         <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">
                Fecha de Inicio
         </label>

         <input type="Date" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border rounded-md border-gray-500 focus:outline-none focus:shadow-outline" name="Fecha_1" id="Fecha_1"  required value=today>
         <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">
                Fecha de Inicio
         </label>
        <input type="Date" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border rounded-md border-gray-500 focus:outline-none focus:shadow-outline" name="Fecha_2" id="Fecha_2"  required value=today>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Filtrar
        </button>
        </form>

        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}

    <table class="table-auto mx-auto w-full mt-8">
        <thead class="bg-gray-800 text-white">
        <tr class="uppercase font-semibold text-sm">
            <th class="px-4 py-2">Fecha de Ingreso</th>
            <th class="px-4 py-2">Codigo</th>
            <th class="px-4 py-2">Descripcion</th>
            <th class="px-4 py-2">Valor</th>



        </tr>
        </thead>
        <tbody>
        {% for transaction in object_list %}
        <tr class="{% cycle 'bg-gray-300' 'bg-white-100' %}">
            <td class="border px-4 py-2 text-center">{{ transaction.Fecha_Ingreso }}</td>
            <td class="border px-4 py-2 text-center">{{ transaction.Codigo }}</td>
            <td class="border px-4 py-2 text-center">{{ transaction.Descripcion }}</td>
            <td class="border px-4 py-2 text-center">L {{ transaction.Valor }}</td>

        </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}


