{% extends 'core/base.html' %}

{% block head_title %}Inventario {% endblock %}



{% block content %}
    <h1 class="font-mono font-bold text-3xl text-center pb-5 pt-10"> Inventario </h1>
    <hr />
<center>
   <a href="{% url 'inventario:nuevo' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Nuevo
   </a>
    <a href="{% url 'inventario:filtrar1' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Filtrar Por Fechas
   </a>
    <a href="{% url 'inventario:filtrar2' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Filtrar Por Código
   </a>
 </center>
{% endblock %}