{% extends 'core/base.html' %}

{% block head_title %}Nuevo Préstamo{% endblock %}



{% block content %}
    <h1 class="font-mono font-bold text-3xl text-center pb-5 pt-10"> Préstamo {{ Id_Prestamo }}</h1>
    <hr />

        <div class="mb-4">
            <label class="block text-gray-700 text-sm" for="amount">
                <b>Cliente</b>: {{Cliente}}
            </label>
            <label class="block text-gray-700 text-sm" for="amount">
                <b>Identidad</b>: {{ Identidad }}
            </label>
            <label class="block text-gray-700 text-sm" for="amount">
                <b>Fecha Otorgado</b>: {{ Fecha_O }}
            </label>

            <label class="block text-gray-700 text-sm" for="amount">
                <b>Plazo en Meses</b>: {{ Plazo }}
            </label>

            <label class="block text-gray-700 text-sm" for="amount">
               <b>Taza de Interes Anual</b>: {{ Tanual }}
            </label>

            <label class="block text-gray-700 text-sm" for="amount">
                <b>Taza de Interes Mensual</b>: {{ Tmensual }}
            </label>

            <label class="block text-gray-700 text-sm" for="amount">
                <b>Periodo de Gracia</b>: {{ Pgracia }}
            </label>

            <label class="block text-gray-700 text-sm" for="amount">
               <b>Tasa de Descuento</b>: {{ Descuento }}
            </label>

            <label class="block text-gray-700 text-sm" for="amount">
               <b>Monto</b>: {{ Monto }}
            </label>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">
               Recago por Mora: {{ Mora }}
            </label>
        </div>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
         <a href="{% url 'prestamos:pdf1' %}"class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Imprimir
         </a>

    <form method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}

        <div class="mb-4">

            <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">
                Monto
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border rounded-md border-gray-500 focus:outline-none focus:shadow-outline" name="Monto" id="Monto"  required placeholder="Monto a Pagar">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">
                Número de Recibo
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border rounded-md border-gray-500 focus:outline-none focus:shadow-outline" name="Recibo" id="Recibo"  required placeholder="Recibo de Pago">
        </div>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Pagar
        </button>
    </form>
    <table class="table-auto mx-auto w-full mt-8">
        <thead class="bg-gray-800 text-white">
        <tr class="uppercase font-semibold text-sm">
            <th class="px-4 py-2">Núm</th>
            <th class="px-4 py-2">Fecha de Pago</th>
            <th class="px-4 py-2">Núm Recibo</th>
            <th class="px-4 py-2">Capital</th>
            <th class="px-4 py-2">Descuento</th>
            <th class="px-4 py-2">Intereses </th>
            <th class="px-4 py-2">Intereses Moratorios </th>
            <th class="px-4 py-2">Total Cuota</th>
            <th class="px-4 py-2">Saldo</th>
             <th class="px-4 py-2">Saldo en Mora</th>
            <th class="px-4 py-2">Pago</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in object_list %}
        <tr class="{% cycle 'bg-gray-300' 'bg-white-100' %}">
            <td class="border px-4 py-2 text-center">{{ transaction.num_cuota }}</td>
            <td class="border px-4 py-2 text-center">{{ transaction.Fecha_Pago }}</td>
            <td class="border px-4 py-2 text-center">{{ transaction.Num_recibo }}</td>
            <td class="border px-4 py-2 text-center">L {{ transaction.Capital }}</td>
            <td class="border px-4 py-2 text-center">L {{ transaction.Descuento }}</td>
            <td class="border px-4 py-2 text-center">L {{ transaction.Intereses }}</td>
            <td class="border px-4 py-2 text-center">L {{ transaction.Intereses_moratorios }}</td>
            <td class="border px-4 py-2 text-center">L {{ transaction.Monto }}</td>
            <td class="border px-4 py-2 text-center">L {{ transaction.Saldo }}</td>
            <td class="border px-4 py-2 text-center">L {{ transaction.Saldo_mora }}</td>
            <td class="border px-4 py-2 text-center">L {{ transaction.Pago }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}